doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Simple Calculator
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 Simple Calculator
    h3 Welcome to Kelley's Simple Calculator! Enter the numbers your would like to use and then select your function!
    h3 Get the answers to all your tough problems!
    #box
      input#num1(type='text')
      button#add +
      button#sub -
      button#mult *
      button#div /
      button#exp ^
      input#num2(type='text')
      span =
      span#answer
      input#num3(type='text')
      button#sqrt sqrt
      button#fac !
      span#second =
      span#answer2

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
